<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="page-content-wrapper">
        <div class="sub-nav page-content-col">
          {% assign next_links = site.data.sidebar.sidebar_links[page.url].next %}
          {% assign prev_links = site.data.sidebar.sidebar_links[page.url].previous %}

          {% if prev_links %}
            <h3><strong>Previous:</strong></h3>
            <ul>
              {% for link in prev_links %}
                <li><a href="{{ link.url | relative_url }}">{{ link.name }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if next_links %}
            <h3><strong>Next:</strong></h3>
            <ul>
              {% for link in next_links %}
                <li><a href="{{ link.url | relative_url }}">{{ link.name }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="wrapper wrapper-adding">
          {{ content }}
        </div>
        <div class="sub-right page-content-col">
          <h3><strong>Sections:</strong></h3>
          <ul id="toc"></ul>
          <script>
            document.addEventListener("DOMContentLoaded", function() {
              const h2Element = document.querySelectorAll("h2[id]");
              const tocList = document.getElementById("toc");
              h2Element.forEach(h2 => {
                let li = document.createElement("li");
                let a = document.createElement("a");
                a.href = `#${h2.id}`;
                a.textContent = h2.textContent;
                li.appendChild(a);
                tocList.appendChild(li);
              });
            })
          </script>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
